*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    padding: 0 10px;
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    background: #131419 url('https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center;
}
.clock{
    width: fit-content;
    height: 120px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    line-height: 120px;
    text-align: center;
    padding: 0 30px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}
.clock #time{
    font-size: 60px;
    color: #f9f9f9;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
}

@media (max-width: 768px){
    .clock{
        height: 70px;
        line-height: 70px;
    }
    .clock #time{
        font-size: 30px;
    }
}
@media (max-width: 372px){
    .clock #time{
        font-size: 22px;
    }
}