*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}
.toast{
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    border-left: 5px solid #2ecc71;
}
.toast.offline{
    border-left: 5px solid #ccc;
}
.content{
    display: flex;
    align-items: center;
}
.icon{
    font-size: 25px;
    background: #2ecc71;
    height: 50px;
    width: 50px;
    line-height: 64px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.icon.offline{
    background: #ccc;
}
.details{
    margin-left: 15px;
}
p{
    line-height: 21px;
}
span{
    font-size: 20px;
    font-weight: 500;
}
.close-icon{
    background-color: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    cursor: pointer;
    color: #878787;
    border-radius: 50%;
    margin-left: 15px;
}
@media (max-width: 567px){
    .icon, .close-icon{
        font-size: 16px;
        height: auto;
        width: auto;
        line-height: 10px;
        padding: 8px;
    }
    .close-icon{
        line-height: 8px;
    }
    p {
        font-size: 14px;
    }
}